.hd {
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 8px;
}

/* A320 Color scheme */
.green {
  color: #a7e851;
}
.blue {
  color: #5ce9ef;
}
.yellow {
  color: #FDF25D;
}
.red {
  color: #F96E6D;
}

.right-col {
  text-align: right;
  margin-bottom: 20px;
}

.left-col {
  text-align: left;
  margin-bottom: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.complete {
  text-decoration: line-through;
}

input {
  background-color: #121213;
  color: white;
  font-family: 'B612', sans-serif;
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 1px dashed white;
  text-transform: uppercase;
}

a {
  color: white;
  text-decoration: none;
}

.dash {
  margin: 0 10px;
}

.frame {
  margin: 12px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 2px;
  min-height: 300px;
  display: flex;
}

.weather-item {
  font-size: 12px;
}

.weather-hd {
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
  border-bottom: 1px dashed white;
}

.weather-list-cont {
  margin: 0 0 20px;
  height: 40vh; 
  overflow-y: auto;
  padding: 20px;
  border-top: 1px solid white;
  border-radius: 2px;
}

.tl-container {
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.tl {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0px solid white;
  border-radius: 2px;
  position: absolute;
}

.tl-pnt {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: white;
}

.pg { 
  display: flex; 
  flex-direction: column;
  width: 100%;
}

.todo-list {
  height: 250px;
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
}

.gauge {
  position: relative;
  border: 2px solid white;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin: 0 auto 8px;
}

.needle {
  position: absolute;
  height: 4px;
  border-radius: 2px;
  width: 28px;
  bottom: 36px;
  right: 60px;
  z-index: 2;
  background-color: #a7e851;
}

.needle-0 {
  transform: rotate(-90deg);
  bottom: -1px;
  right: 20px;
}

.needle-1 {
  transform: rotate(-63deg);
  bottom: 3px;
  right: 41px;
}

.needle-2 {
  transform: rotate(-36deg);
  bottom: 16px;
  right: 54px;
}

.needle-3 {
  transform: rotate(-9deg);
  bottom: 30px;
  right: 60px;
}

.needle-4 {
  transform: rotate(18deg);
  bottom: 48px;
  right: 58px;
}

.needle-5 {
  transform: rotate(45deg);
  bottom: 63px;
  right: 48px;
}

.needle-6 {
  transform: rotate(72deg);
  bottom: 70px;
  right: 34px;
}

.needle-7 {
  transform: rotate(99deg);
  bottom: 71px;
  right: 17px;
}

.needle-8 {
  transform: rotate(126deg);
  bottom: 63px;
  right: 3px;
}

.needle-9 {
  transform: rotate(153deg);
  bottom: 52px;
  right: -9px;
}

.needle-10 {
  transform: rotate(166deg);
  bottom: 42px;
  right: -12px;
}

.gauge-temp {
  position: absolute;
  right: -32px;
  bottom: -10px;
}

.gauge-temp-cont {
  position: absolute;
  height: 50px;
  width: 45px;
  right: -12px;
  bottom: -6px;
  background-color: #121213;
}
