.hd {
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 8px;
}

/* A320 Color scheme */
.green {
  color: #a7e851;
}
.blue {
  color: #5ce9ef;
}
.yellow {
  color: #FDF25D;
}
.red {
  color: #F96E6D;
}

.right-col {
  text-align: right;
  margin-bottom: 20px;
}

.left-col {
  text-align: left;
  margin-bottom: 20px;
}

.item {
  text-transform: uppercase;
}

a {
  color: white;
  text-decoration: none;
}

.dash {
  margin: 0 10px;
}

.frame {
  margin: 12px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 2px;
  min-height: 300px;
}

.weather-item {
  font-size: 12px;
}

.weather-hd {
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
  border-bottom: 1px dashed white;
}

.tl-container {
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.tl {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0px solid white;
  border-radius: 2px;
  position: absolute;
}

.tl-pnt {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: white;
}
