.hd {
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 8px;
}

/* A320 Color scheme */
.green {
  color: #a7e851;
}
.blue {
  color: #5ce9ef;
}
.yellow {
  color: #FDF25D;
}
.red {
  color: #F96E6D;
}

.right-col {
  text-align: right;
  margin-bottom: 20px;
}

.left-col {
  text-align: left;
  margin-bottom: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.complete {
  text-decoration: line-through;
}

input {
  background-color: #121213;
  color: white;
  font-family: 'B612', sans-serif;
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 1px dashed white;
  text-transform: uppercase;
}

a {
  color: white;
  text-decoration: none;
}

.dash {
  margin: 0 10px;
}

.frame {
  margin: 12px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 2px;
  min-height: 300px;
  display: flex;
}

.weather-item {
  font-size: 12px;
}

.weather-hd {
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
  border-bottom: 1px dashed white;
}

.tl-container {
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.tl {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0px solid white;
  border-radius: 2px;
  position: absolute;
}

.tl-pnt {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: white;
}

.pg { 
  display: flex; 
  flex-direction: column;
  width: 100%;
}

.todo-list {
  height: 250px;
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
}

.gauge {
  position: relative;
  border: 2px solid white;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin: 0 34px 8px auto;
}

.gauge-temp-cont {
  position: absolute;
  right: -12px;
  bottom: -6px;
  padding: 10px 0 8px 8px;
  background-color: #121213;
}
